
<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenue sur la page d'accueil</h1>
    
    <button onclick="window.location.href='{{ url_for('auth.register') }}'">S'inscrire</button>
    <button onclick="window.location.href='{{ url_for('auth.login') }}'">Se connecter</button>
</body>
</html>